{% extends "base.html" %}
{% block title %}
Applicant Sign Up
{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="/static/css/forms.css">
<section class="form-container">
  <h2>Create Applicant Account</h2>
  <form id="recruiter-registration-form" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
      {% for error in form.name.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    
    <div class="mb-3">
      {{ form.emailAddress.label(class="form-label") }}
      {{ form.emailAddress(class="form-control") }}
      {% for error in form.emailAddress.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.phoneNumber.label(class="form-label") }}
      {{ form.phoneNumber(class="form-control") }}
      {% for error in form.phoneNumber.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
        <!-- Gender Field -->
    <div class="mb-3">
        {{ form.gender.label(class="form-label") }}
        {{ form.gender(class="form-control") }}
        {% for error in form.gender.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- Date of Birth Field -->
    <div class="mb-3">
        {{ form.dateOfBirth.label(class="form-label") }}
        {{ form.dateOfBirth(class="form-control") }}
        {% for error in form.dateOfBirth.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- Nationality Field -->
    <div class="mb-3">
        {{ form.nationality.label(class="form-label") }}
        {{ form.nationality(class="form-control") }}
        {% for error in form.nationality.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- Preferred Location Field -->
    <div class="mb-3">
        {{ form.preferredLocation.label(class="form-label") }}
        {{ form.preferredLocation(class="form-control") }}
        {% for error in form.preferredLocation.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- Industries Field -->
    <div class="mb-3">
        {{ form.industries.label(class="form-label") }}
        {{ form.industries(class="form-control") }}
        {% for error in form.industries.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- Job Preferences Field -->
    <div class="mb-3">
        {{ form.jobPreferences.label(class="form-label") }}
        {{ form.jobPreferences(class="form-control") }}
        {% for error in form.jobPreferences.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
      {% for error in form.password.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.confirmPassword.label(class="form-label") }}
      {{ form.confirmPassword(class="form-control") }}
      {% for error in form.confirmPassword.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-check mb-3">
      {{ form.consent.label(class="form-check-label") }}
      {{ form.consent(class="form-check-input") }}
      {% for error in form.consent.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    {{ form.submit(class = "btn btn-custom-primary") }}
    <p class="form-text mt-3">Already have an account? <a href="{{ url_for('authentication.login') }}">Login here</a></p>
  </form>
</section>
{% endblock %}
