{% extends "base.html" %}
{% block title %}
Password Reset Request
{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="/static/css/forms.css">
<section class="form-container">
  <h2>Reset Your Password</h2>
  <p class="text-center">Enter your email address to receive a password reset link.</p>
  <form>
    <div class="mb-3">
      <label for="reset-email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="reset-email" placeholder="Enter your email" name="email" required>
    </div>
    <button type="submit" class="btn btn-custom-primary">Send Reset Link</button>
    <p class="form-text mt-3"><a href="{{ url_for('authentication.login') }}">Back to Login</a></p>
  </form>
</section>
{% endblock %}
