{% extends "dashboard_base.html" %}
{% block navbar %}
<li>
  <a href="{{ url_for('applicants.dashboard') }}"><span class="fa fa-tachometer-alt mr-3"></span> Dashboard</a>
</li>
<li>
  <a href="{{ url_for('applicants.view_applied_jobs') }}"><span class="fa fa-folder-open mr-3"></span> View Applications</a>
</li>
<li>
  <a href="{{ url_for('applicants.view_successful_applications') }}"><span class="fa fa-check-circle mr-3"></span> Successful Applications</a>
</li>
<li>
  <a href="{{ url_for('applicants.manage_profile') }}"><span class="fa fa-user-edit mr-3"></span> Manage Profile</a>
</li>
<li>
  <a href="{{ url_for('authentication.logout') }}"><span class="fa fa-user mr-3"></span> View Profile</a>
</li>
{% endblock %}
