{% extends "applicants/base.html" %}
{% block title %}
Manage Profile
{% endblock %}

{% block page_content %}
<div class="container m-0 p-0">
  <h2 class="mb-4">Manage Profile</h2>

  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <form method="POST" class="mt-4" action="{{ url_for('applicants.manage_profile') }}">
      {{ profile_form.csrf_token }}

      {{ profile_form.hidden_tag() }}
      <div class="mb-3">
        {{ profile_form.name.label(class="form-label") }}
        {{ profile_form.name(class="form-control") }}
        {% for error in profile_form.name.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ profile_form.phoneNumber.label(class="form-label") }}
        {{ profile_form.phoneNumber(class="form-control") }}
        {% for error in profile_form.phoneNumber.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <!-- Gender Field -->
      <div class="mb-3">
        {{ profile_form.gender.label(class="form-label") }}
        {{ profile_form.gender(class="form-control") }}
        {% for error in profile_form.gender.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <!-- Date of Birth Field -->
      <div class="mb-3">
        {{ profile_form.dateOfBirth.label(class="form-label") }}
        {{ profile_form.dateOfBirth(class="form-control") }}
        {% for error in profile_form.dateOfBirth.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <!-- Industries Field -->
      <div class="mb-3">
        {{ profile_form.industries.label(class="form-label") }}
        {{ profile_form.industries(class="form-control") }}
        {% for error in profile_form.industries.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ profile_form.educationLevel.label(class="form-label") }}
        {{ profile_form.educationLevel(class="form-control") }}
        {% for error in profile_form.educationLevel.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      {{ profile_form.submit(class = "btn btn-custom-primary") }}
    </form>
  </div>
</div>
{% endblock %}
