{% extends "applicants/base.html" %}
{% block title %}
View Job #{{ job.jobListingId }}
{% endblock %}

{% block page_content %}
<!-- Job Header -->
<div class="job-header">
  <h1>{{ job.title }}</h1>
  <span class="badge bg-primary">{{ job.category }}</span>
  <span class="badge bg-success">{{ job.workingMethod }}</span>
  <p class="text-muted mt-3">Must have <span class="fw-bold">{{ job.educationLevel }}</span> with <span class="fw-bold">{{ job.yearsOfExperience }} Years of Experience</span></p>
  <p class="text-muted mt-3">Location: {{ job.location }} | Deadline: {{ moment(job.deadline).format('LLLL') }}</p>
</div>

<!-- Retrieve Job Application -->
{% set application = current_user.getJobApplication(job) %}

<!-- Tabs Section -->
<ul class="nav nav-tabs" id="jobDetailsTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab">Job Overview</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="company-tab" data-bs-toggle="tab" href="#company" role="tab">Company Details</a>
  </li>

  {% if application %}
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="application-tab" data-bs-toggle="tab" href="#application" role="tab">Application Details</a>
  </li>
  {% else %}
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="requirements-tab" data-bs-toggle="tab" href="#requirements" role="tab">Requirements</a>
  </li>
  {% endif %}

</ul>
<div class="tab-content mt-3" id="jobDetailsTabContent">
  <!-- Job Overview Tab -->
  <div class="tab-pane fade show active" id="overview" role="tabpanel">
    <div class="job-overview mb-4">
      <p style="white-space: pre-line;">{{ job.description }}</p>
    </div>
  </div>
  <!-- Company Details Tab -->
  <div class="tab-pane fade" id="company" role="tabpanel">
    <h2>About {{ job.organization.name }}</h2>
    <p style="white-space: pre-line;">{{ job.organization.description }}</p>
  </div>
  {% if application %}
  <div class="tab-pane fade" id="application" role="tabpanel">
    <div class="row mb-5">
      <div class="col-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#viewResumeModal" class="btn btn-secondary my-1 w-100">View Resume</button>
      </div>
      {% if application.status == "Submitted" %}
      <div class="col-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#updateCoverLetterModal" class="btn btn-custom-primary my-1 w-100">Update Cover Letter</button>
      </div>
      <div class="col-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#updateResumeModal" class="btn btn-custom-primary my-1 w-100">Update Resume</button>
      </div>
      <div class="col-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#cancelApplicationModal" class="btn btn-danger my-1 w-100">Cancel Application</button>
      </div>
      {% endif %}
    </div>

    <!-- Cancel application modal -->
    <div class="modal fade" id="cancelApplicationModal" tabindex="-1" aria-labelledby="cancelApplicationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancelApplicationModalLabel">Cancel Application</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to cancel your application?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('applicants.cancel_application', application_id=application.applicationId) }}" method="post">
              <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- View resume modal -->
    <div class="modal modal-lg fade" id="viewResumeModal" tabindex="-1" aria-labelledby="viewResumeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewResumeModalLabel">View Resume</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <iframe src="/static/custom/applications/{{ application.applicationId }}/{{ application.resumeUrl }}" width="100%" height="400px" style="border: none;"></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Update Resume Modal -->
    <div class="modal fade" id="updateResumeModal" tabindex="-1" aria-labelledby="updateResumeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateResumeModalLabel">Update Resume</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="updateResumeForm" action="{{ url_for('applicants.update_resume', application_id=application.applicationId) }}" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="mb-3">
                <label for="resumeFile" class="form-label">Upload New Resume (PDF only)</label>
                <input type="file" name="resumeFile" id="resumeFile" class="form-control" accept=".pdf" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="updateResumeForm" class="btn btn-custom-primary">Update Resume</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Update Cover Letter Modal -->
    <div class="modal modal-lg fade" id="updateCoverLetterModal" tabindex="-1" aria-labelledby="updateCoverLetterModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateCoverLetterModalLabel">Update Cover Letter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="coverLetterForm" action="{{ url_for('applicants.update_cover_letter', application_id=application.applicationId) }}" method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="coverLetter" class="form-label">New Cover Letter</label>
                <textarea name="coverLetter" id="coverLetter" class="form-control" rows="10" required>{{ application.coverLetter }}</textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="coverLetterForm" class="btn btn-custom-primary">Update Cover Letter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <h2>Cover Letter</h2>
    <p style="white-space: pre-line;">{{ application.coverLetter }}</p>
  </div>
  {% else %}
  <!-- Application Requirements Tab -->
  <div class="tab-pane fade" id="requirements" role="tabpanel">
    <form id="make-application-form" action="{{ url_for('applicants.view_job', job_listing_id=job.jobListingId) }}" enctype="multipart/form-data" method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.yearsOfExperience.label(class="form-label") }}
        {{ form.yearsOfExperience(class="form-control") }}
        {% for error in form.yearsOfExperience.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.coverLetter.label(class="form-label") }}
        {{ form.coverLetter(class="form-control", rows=10) }}
        {% for error in form.coverLetter.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.resumeFile.label(class="form-label") }}
        {{ form.resumeFile(class="form-control", rows=5) }}
        {% for error in form.resumeFile.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      {{ form.submit(class = "btn btn-custom-primary") }}
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
