{% extends "recruiters/base.html" %}
{% block title %}
View Job #{{ job.jobListingId }}
{% endblock %}

{% block page_content %}
<!-- Job Header -->
<div class="job-header">
  <h1>{{ job.title }}</h1>
  <span class="badge bg-primary">{{ job.category }}</span>
  <span class="badge bg-success">{{ job.workingMethod }}</span>
  <p class="text-muted mt-3">Must have <span class="fw-bold">{{ job.educationLevel }}</span> with <span class="fw-bold">{{ job.yearsOfExperience }} Years of Experience</span></p>
  <p class="text-muted mt-3">Location: {{ job.location }} | Deadline: {{ moment(job.deadline).format('LLLL') }}</p>
</div>

<div class="container">
  <a href="{{ url_for('recruiters.update_job', job_listing_id=job.jobListingId) }}" class="mb-4 btn btn-custom-primary w-100">Update Job Listing</a>
</div>


<!-- Tabs Section -->
<ul class="nav nav-tabs" id="jobDetailsTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab">Job Overview</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="applications-tab" data-bs-toggle="tab" href="#applications" role="tab">Applications</a>
  </li>
</ul>
<div class="tab-content mt-3" id="jobDetailsTabContent">
  <!-- Job Overview Tab -->
  <div class="tab-pane fade show active" id="overview" role="tabpanel">
    <div class="job-overview mb-4">
      <h2>Job Overview</h2>
      <p style="white-space: pre-line;">{{ job.description }}</p>
    </div>
  </div>
  <!-- Application Requirements Tab -->
  <div class="tab-pane fade" id="applications" role="tabpanel">
    <h3 class="text-center mb-4">Applications</h3>
    <div class="my-2">
      <button onclick="applyFilter()" class="btn btn-custom-primary">Apply Filtering</button>
      <button onclick="resetFilter()" class="btn btn-warning">Reset</button>
    </div>
    <div class="table-responsive">
      <table id="applicationsTable" class="table table-striped table-hover align-middle">
        <thead>
          <tr>
            <th>Applicant</th>
            <th>Years of Experience</th>
            <th>Industry</th>
            <th>Education Level</th>
            <th>Resume</th>
            <th>Cover Letter</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for application in job.applications %}
          <tr data-education="{{ application.applicant.educationLevel }}" data-experience="{{ application.yearsOfExperience }}">
            <td>
              {{ application.applicant.name }}
            </td>
            <td>{{ application.yearsOfExperience }}</td>
            <td>{{ application.applicant.industries }}</td>
            <td>{{ application.applicant.educationLevel }}</td>
            <td>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#viewResume{{ loop.index }}Modal">
                View Resume
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#viewCoverLetter{{ loop.index }}Modal">
                View Cover Letter
              </button>
            </td>
            <td>{{ application.status }}</td>
            <td>
              <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#acceptApplication{{ loop.index }}Modal" {% if application.status != "Submitted" %}disabled{% endif %}>
                Accept
              </button>
              <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#rejectApplication{{ loop.index }}Modal" {% if application.status != "Submitted" %}disabled{% endif %}>
                Reject
              </button>
            </td>
          </tr>

          <!-- View cover letter modal -->
          <div class="modal modal-lg fade" id="viewCoverLetter{{ loop.index }}Modal" tabindex="-1" aria-labelledby="viewCoverLetter{{ loop.index }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="viewCoverLetter{{ loop.index }}ModalLabel">View Cover Letter</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body scrollable-modal-body">
                  <p style="white-space: pre-line;">{{ application.coverLetter }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- View resume modal -->
          <div class="modal modal-lg fade" id="viewResume{{ loop.index }}Modal" tabindex="-1" aria-labelledby="viewResume{{ loop.index }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="viewResume{{ loop.index }}ModalLabel">View Resume</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <iframe src="/static/custom/applications/{{ application.applicationId }}/{{ application.resumeUrl }}" width="100%" height="400px" style="border: none;"></iframe>
                </div>
              </div>
            </div>
          </div>

          <!-- Accept application modal -->
          <div class="modal fade" id="acceptApplication{{ loop.index }}Modal" tabindex="-1" aria-labelledby="acceptApplication{{ loop.index }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="acceptApplication{{ loop.index }}ModalLabel">Accept Application</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to accept this application?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form action="{{ url_for('recruiters.accept_application', application_id=application.applicationId) }}" method="post">
                    <button type="submit" class="btn btn-success">Accept</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Reject application modal -->
          <div class="modal fade" id="rejectApplication{{ loop.index }}Modal" tabindex="-1" aria-labelledby="rejectApplication{{ loop.index }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="rejectApplication{{ loop.index }}ModalLabel">Reject Application</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to reject this application?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form action="{{ url_for('recruiters.reject_application', application_id=application.applicationId) }}" method="post">
                    <button type="submit" class="btn btn-danger">Reject</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function applyFilter() {
      const educationLevel = "{{ job.educationLevel | safe }}";
      const yearsOfExperience = "{{ job.yearsOfExperience }}";
      document.querySelectorAll('#applicationsTable tbody tr').forEach(row => {
          const applicantEducation = row.getAttribute('data-education');
          const applicantExperience = parseInt(row.getAttribute('data-experience'));

          if (applicantEducation === educationLevel && applicantExperience >= parseInt(yearsOfExperience)) {
              row.style.display = '';
            } else {
                row.style.display = 'none';
              }
        });
    }

  function resetFilter() {
      document.querySelectorAll('#applicationsTable tbody tr').forEach(row => {
          row.style.display = '';
        });
    }

  // Initialize DataTable with options
  $(document).ready(function() {
      $('#applicationsTable').DataTable({
          responsive: true,
          pagingType: "simple",
          language: {
              search: "_INPUT_",
              searchPlaceholder: "Search Applications..."
            },
          columnDefs: [
              { orderable: false, targets: -1 }
            ]
        });
    });
</script>
{% endblock %}
